/* Estilo del header */
.custom-header {
  background-color: #2D3142; /* Fondo gris oscuro */
  color: #F5F5F5; /* Texto claro */
  border-bottom: 1px solid #ddd;
}

/* Nombre de la compañía */
.custom-company-name {
  color: #F5F5F5;
  transition: color 0.3s ease;
}

.custom-company-name:hover {
  color: #fff; /* Color blanco puro al pasar el cursor */
}

/* Botón de cerrar sesión */
.logout-btn {
  background-color: #DC4535; /* Rojo */
  color: #fff;
}

/* Botón de colapso (burguer) */
.custom-toggler {
  background-color: #2D3142; /* Fondo igual al header */
  border: none; /* Sin bordes */
}

.custom-toggler .navbar-toggler-icon {
  background-image: linear-gradient(180deg, #BFC0C0 20%, #BFC0C0 80%); /* Líneas grises */
}

/* Enlace activo */
.active-link {
  font-weight: bold;
  border-bottom: 2px solid #F5F5F5; /* Línea debajo del enlace */
  color: #F5F5F5;
}

.active-link:hover {
  color: #F5F5F5; /* Color blanco puro al pasar el cursor */
  font-weight: bold;
  border-bottom: 2px solid #F5F5F5; /* Línea debajo del enlace */
}

/* Enlace no activo */
.inactive-link {
  font-weight: 300; /* Texto light */
  color: #F5F5F5;
  text-decoration: none;
  transition: color 0.3s ease;
}

.inactive-link:hover {
  color: #fff; /* Color blanco puro al pasar el cursor */
}

/* Offcanvas */
.offcanvas-header {
  border-bottom: 1px solid #ddd;
}

.offcanvas {
  background-color: #2D3142; /* Fondo del offcanvas */
  color: #F5F5F5;
}

.offcanvas-body .nav-link {
  color: #F5F5F5;
  transition: color 0.3s ease;
}

.offcanvas-body .nav-link:hover {
  color: #F5F5F5 !important; /* Color blanco puro al pasar el cursor */
}

.offcanvas-body .btn {
  background-color: #FF0000;
  color: #F5F5F5;
}
